
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grenze+Gotisch:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




body{
     
    margin: 0;
    padding: 0;
   
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,li ,.h3{
    font-family:"Roboto", sans-serif;
}

p{
    font-family:   "Roboto", sans-serif;
}
/* ------------------header start ------------------*/
.header {
    position: relative;
    height: 800px;
    background-image: url('../images/slider1.jpg');
    background-size: cover;
    background-position: center;
    display: block;
   
    color: white;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
}

.nav-bar{
    position: relative;
    z-index: 2;
   
    display: flex;
    background-color:RGBA(0, 0, 0, 0.4);
    font-size: 13px;
    padding: 33px;
    justify-content: space-between;
    margin: 0 5% ;
    border: 1px solid RGBA(0, 0, 0, 0.4);
    border-radius: 7px;
    
   
}
a{
    color: white;
    text-decoration: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar li{
   
    list-style: none;
    padding: 0px 17px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
#home{
    color: RGB(229, 43, 52);
  
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    

}
.top-bar{
    position: relative;
    z-index: 2;
    justify-content: space-between;
    margin: 0 5% ;
    display: flex;
    font-size: 13px;
    padding: 20px;
  
    
}
.top-bar ul{
    display: flex;
}
.top-bar li{
    list-style: none;
    font-size: 15px;
}
.top-bar ul label{
    color: gray;
    font-size: 15px;
}
.topbar-icon{
    display: flex;
    gap: 20px;
    padding-left: 20px;
}


#logo{
    font-size: 20px;
}
.logo-color{
    
    color: red;
    font-size: 20px;
}
.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
    align-items: center;
  
    margin: auto;
    margin-top: 100px;
   
}
.hero h2{
    border: 1px solid RGB(255, 255, 255);
    font-size: 16px;
    letter-spacing: 8px;
    padding: 0px 10px;
    color: RGBA(255, 255, 255, 0.9);
    line-height: 32px;
    font-weight: bolder;
 
   

}
.hero h1{
    font-size: 128px;
    font-weight: 400;
    color: RGB(255, 255, 255);
    font-family: "Dancing Script", cursive;
    margin:  0px 0px 40px;
    
}
.hero h3{
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 36px;
    font-weight: 700;
    color: RGB(229, 43, 52);
    position: relative;
    
}
.hero h3::before{
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 96px;
    background: RGB(229, 43, 52);
    left: -128px;
    top: 50%;

}
.hero h3::after{
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 96px;
    background: RGB(229, 43, 52);
    right: -128px;
    top: 50%;

}
/* ------------------header end ------------------*/
.main-container{
    
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 55px;
}
.bg-color{
    background-color: #FAFAFA;
}
/* ------------About page and table form start---------*/
.about-page{
    display: flex;
     width: 100%;
     height: 800;


}

.booking-form {
    background-color: #E52B34;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;   
}
.booking-form h2{
    color: white;
    font-size: 30px;
    padding-top: 25px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.booking-form input,
.booking-form select {
   
    padding: 21px 2px 15px 20px;
    margin-bottom: 15px;
    background-color: #E52B34;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Roboto", sans-serif;
    outline: none;
}
.booking-form button {
    background-color: white;
    color: black;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}
.booking-form select option{
    background-color: white;
}
.booking-form button:hover {
   color: red;
}
.right-side{
    background-image: url(../images/about.jpg.webp);
    background-position: center center ;
    background-repeat: no-repeat;
   background-size: cover;
  object-fit: cover;
    position: relative;
  display: block;
  width: 100%;
  

}
.left-side{
    width: 50%;

}

.desc{
 
    margin: 150px 0px 0px 55px;
    width: 400px; 

}
.desc p{
    font-size: 16px;
    text-align: start;
    line-height: 32px;
    font-weight: 400;
    color: RGB(128, 128, 128);
    padding-top: 20px;
 
    
}
.box-about h1{
    font-size: 40px;
   
    font-weight: 900;
    line-height: 1.3;
    z-index: 5;
    position: relative;
    max-width: 220px;
}
.box-about{
    position: relative;
}

.box-about h2{
    position: absolute;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    color:  #E52B34;
    bottom: 80px;
  
   z-index:  1;
   
}
/* ------------------about page and table form end  ------------------*/

/* ------------------first background img strt ------------------*/
.background-container-2{
    background-image: url(../images/bg_3.jpg.webp);
    background-position: center;
    position: relative;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 365px;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    

}
.overlay-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);

  
}
.background-container-2 h3{
    position:relative;
    color: white;
    color: RGBA(255, 255, 255, 0.9);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
   
}
.background-container-2 h1{
    position: relative;
    font-weight: 900;
    color: #fff;
    font-size: 40px;
   
}
/* ------------------first background img end ------------------*/

/* ------------------Menu strt ------------------*/

.menu{
    display: flex;
    gap: 30px;
     margin-bottom: 55px;
     width: 100%;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
    
}

.menu-heading{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family:   "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 700;
    position: relative;
}
.menu-heading h3{
    position: absolute;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    color: RGB(235, 88, 96);
    z-index: -1;
    right: 44%;
    bottom: 25px;

}


.h3{
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 25px;
}
.menu-card{
    background-color: RGB(252, 252, 252);
    border: 1.5px dashed #e6e6e6;
    display: flex;
    flex-direction: column;
    /* width: 350px; */
    flex: 1;
    /* padding: 0px 16px; */
}
.menu-card:hover{
    border: 1px dashed red;
}
.card{
    gap: 20px;
    display: flex;
    padding: 48px 18px 0px
    
    
  
}

.menu-card .card:not(:last-child):hover {
    border-bottom: 1px dashed red;;   
}
.menu-card .card:not(:last-child) {
    border-bottom: 1.5px dashed #e6e6e6;  
   
}
.icon-img{
    width: 45px;
    height: 45px;
    opacity: 0.2;
    margin: 0;
    padding: 0;
}
.background-icon{
    display: flex;
    justify-content: space-between;
}




.card-img{
     width: 100%;
     height: 100%;
     object-fit: cover;
    border-radius: 50%;
}
.menu-img{
    width: 90px;
    height: 90px;
}
.title{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    /* align-items: center; */
   
   

}
.title h3{
  
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    max-width: 90px;
    line-height: 1.5;
}
.title h3:hover{
    color:#E52B34;
    
}


.card .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.price{
    color: #e52b34;;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-left: 85px;

}
.text p{
   
font-size: 18px;
line-height: 2;
padding: 10px 0px 23px;
word-spacing: 2px;


}
.text .title:hover{
    color: #E52B34;
}
.overlay-customer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

  
}

.background-container-3{
    background-image: url(../images/bg_5.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
}

.background-container-3 h2{
    position: relative;
    color: white;
   
font-size: 40px;
font-style: normal;
font-weight: 900;
padding-top: 100px;
   
}



.background-container-3 h2::before{
    content: "Testimony";
    position: relative;
    display: block;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    color:  RGB(229, 43, 52);
    
    text-align: center;
    
    top: 20px;
}
    
.background-container-3 p{
    position: relative;
    color:  RGBA(255, 255, 255, 0.9);
   
    font-size:  20px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    margin-top: 70px;
}
.customer-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    margin-top: 30px;
}

.customer-detail{
    position: relative;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

   
}
.customer-detail span{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-top: 20px;
}
.customer-detail h5{
    color: #b3b3b3;
    font-size: 12px;
    margin-top: 20px;
}
.master-chef{
   
    
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    
    
    
   
}

.chef-title {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    padding: 110px 0px 100px;
    
    
}
.chef-title::before{
    content: "Chef";
    position: relative;
    display: block;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    color: RGB(235, 88, 96);
    left: 5px;
   top: 25px;
}
.chef-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.our-chef{
    background-color: white;
    width: 268px;
  position: relative;
}
.our-chef::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 20px; 
    background-color: #E52B34;
    left: 21px;
    bottom: -18px;
    right: 0;
    

}
.our-chef h3{
    font-size: 18px;
    line-height: 27px;
 
    font-weight: 600;
    padding-left: 20px;
}
.our-chef h4{

font-size: 14px;
font-weight: 400;
color: RGBA(0, 0, 0, 0.3);
padding-left: 20px;
line-height: 28px;


}
.our-chef p{

color: RGB(128, 128, 128);
padding-left: 20px;
line-height: 32px;
}
.perfect-container{
    display: flex;

}
.perfect-img{
    width: 262px;
    height: 422px;
    object-fit: cover;
    
}
.perfect-img-container{
    display: flex;
    gap: 20px;

}
.perfect-desc{
    margin: 55px;
    
}
.perfect-desc p{
   
    font-size: 19px;
    font-weight: 400;
    color: RGB(128, 128, 128);
   margin-top: 20px;
    line-height: 32px;
    
}
.perfect-desc h2{
   
    font-size: 40px;
    font-weight: 900;
    color: RGBA(0, 0, 0, 0.8);
    word-spacing: 5px;
    
}
.perfect-button{
    background-color: RGB(229, 43, 52);
    color: white;
    border: 1px solid #e52b34;
    padding: 10px 12px;
    font-weight: bold;
    font-size: 16px;
   
}
.primary-button{
    margin-top: 40px;
}
.perfect-button:hover{
    background-color: white;
    color: red;
}
.box {
    position: relative;
}
.box h3{
    color: #E52B34;
    position: absolute;
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    bottom: 25px;
    z-index: -1;
  
}

/*.perfect-desc h2::before{
    content: "This is our secrets";
    position: relative;
    display: block;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    color: RGB(235, 88, 96);
    left: 5px;
    top: 25px;
    
}*/
.recent-blog{
    display: flex;
    background-color: #FAFAFA;
    padding-bottom: 128px; 
}
 .h4{
    position: absolute;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    color:#E52B34;
    left: 47%;
    top: 76px;

}
.blog-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    /* text-align: center; */
    padding-bottom: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    padding: 100px 0 100px;
}
.blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}
.blog-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
span.blog-date{
    padding: 20px 30px 0;
    color: RGB(128, 128, 128);
    font-size: 16px;
    line-height: 32px;
    display: flex;
    cursor: pointer;
}
.blog-container-1{
    padding-bottom:  55px;
    background-color: white;
    position: relative;
    width: 32%;
}
.blog-container-1::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    width: 90%;
    margin: auto;
    transition: all 1s;

}
.blog-container-1:hover:after{
    background-color: #E52B34;
}

  

.blog-container-1 p{
    font-size: 20px;
    font-weight: 600;
    line-height:  30px;
    padding: 20px 30px ;
    
   
}
.blog-button{
    margin-left: 30px;
    margin-top: 30px;
    background-color: RGB(229, 43, 52);
    color: white;
    border: 1px solid #e52b34;
    padding: 10px 12px;
    font-weight: bold;
    font-size: 16px;
}
.blog-button:hover{
    background-color: white;
    color:red;
}
.container-5{
    height: 218px;
    background-color: #E52B34;
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.container-5 h3{
    font-weight: 900;
    color: #fff;
    font-size: 40px;
   
}
.container-5 a{
    border-color: RGB(255, 255, 255);
    padding: 10px 12px;
    border: 1px solid white;
    color: #fff;
    margin-top: 20px;
}
.container-5 a:hover{
    background-color: white;
    color: red;
}
.social-link{
    background-color: #1A1A1A;
    padding-bottom: 100px;
   
}
.contact-us{
    width: 22%;
} 
.social-link-container{
    display: flex;
    
    gap: 30px;
    justify-content: space-between;
    margin-top: 90px;
    flex-wrap: wrap;
  

}
.social-link-container h3{
    color: RGB(255, 255, 255);
    font-size: 20px;
  
    font-weight: 700;
    margin-bottom: 50px;
}

.social-link-container p{
    font-size: 14px;
    color: RGBA(255, 255, 255, 0.7);
    line-height: 28px;
    font-weight: 700;
 
}
.social-icon{
    gap: 20px;
    display: flex;
    margin-top: 30px;
    
}
.icon{
    background-color: #E52B34;
    display: flex;
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
   

}
.timing-container {
    width: 22%;
}

.timing-container li{
    list-style: none;
    display: flex;
    justify-content: space-between;
   gap: 55px;
   line-height: 28px; 
   font-size: 14px; 
}
span.days{
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    FONT-WEIGHT: bolder;
}
span.timing{
    color: RGB(128, 128, 128);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
.insta-container{
    display: flex;
    flex-direction: column;
    width: 22%;
   
}
.insta-img{
    width: 85px;
    height: 100px;
    object-fit: cover;
}
.insta-img-container-1{
    display: flex;
}
 .news{
    width: 22%;
} 
.subscribe-form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  
}
.subscribe-form input{
    font-size: 18px;
    line-height: 24px;
    background-color: RGBA(255, 255, 255, 0.1);
    color: RGBA(255, 255, 255, 0.7);
    padding:  17px 12px;
    margin: 0px 0px 8px;
    text-align: center;
    outline: none;
    border: transparent;
    font-family:"Roboto", sans-serif;
    
}
.subscribe-form input[type="submit"]{
    background-color: RGB(229, 43, 52);
    font-weight: 400;
    color: RGB(255, 255, 255);
}


footer{
    background-color: #E52B34;
    height: 60px;
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
}
footer p{
    font-size: 16px;
    font-weight: 400;
    color: RGBA(255, 255, 255, 0.7);
   
}

@media only screen and   (max-width: 992px){
    .main-container{
    
       
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }
    .top-bar{
    display: none;
}
.nav-bar{
    
    margin: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    position: relative;
   
}
.nav-bar ul {
    display: none; 
    flex-direction: column;
    justify-items: left;
}
.nav-bar li {
    padding: 15px 0px;
    display: flex;
    justify-items: left;
}
.hamburger {
    justify-content: space-between;
display: block;
  
}
#logo{
    color: white;
    font-size: 25px;

}
.responsive{
    display: flex;
    justify-content: space-between;
    /* width: auto; */
    
}
.right-side{
    width: 100%;
    background-position: right;
}
.box-about h1{
    max-width: none;
}
.box-about h2{
    bottom: 30px;
}
.desc p{
    font-size: 20px;
    width: 100%;
}
/* .desc{
    width: 100%;
} */
.our-chef {
    width: 400px;
    
}
.master-chef{
 gap: 35px 20px;
}
.blog-container-1 {
    width: 31%;
}

.contact-us,
.timing-container,
.insta-container,
.news {
    width: 44%; 
}
.perfect-img{
    width: 150px;
   
}
.header{
    height: auto;
}

 }




@media only screen and (max-width:800px){
    .menu-card{
        width: 350px;
    }
    .our-chef {
        width: 350px;
    }
    .price{
        margin-left: 40px;
    }
    .text p{
        font-size: 17px;
    }
    .desc{
        margin: 150px 0px 0px 20px;
    }
     .right-side{
        background-position: right;
    } 
  
    /* .card{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    } */

}
@media only screen and (max-width:700px){
    .about-page{
        display: flex;
        flex-direction: column;
    }
    .left-side{
        width: 100%;
    }
    .blog-container-1{
        width: 50%;
    }
    .perfect-container{
        display: flex;
        flex-direction: column;
    }
    .perfect-img-container{
       width: 50%;
    }
}

@media only screen and (max-width:500px) {
    
   
    .hero h1{
        width:100%;
        font-size: 40px;
    }
    .hero{
        width: auto;
    }
    .top-bar{
    display: none;
}
.nav-bar{
    
    margin: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    position: relative;
    top: 0;
    
}

.nav-bar ul {
 
    flex-direction: column;
    
}
.nav-bar li {
    padding: 15px 0px;
    display: flex;
    justify-items: left;
  
}
.hamburger {
    justify-content: space-between;
display: block;
  
}
#logo{
    color: white;
    font-size: 25px;

}
.responsive{
    display: flex;
    justify-content: space-between;
    /* width: auto; */
    
}
.about-page{
    display: flex;
    flex-direction: column;
}
.left-side{
    width: 100%; 
   
}
.right-side{
    width: 100%;
    padding: 0 20px;
   
}
.desc{
    margin: 55px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.box-about h1{
    max-width: none;
}
.box-about h2{
    bottom: 30px;
}
.desc p{
    font-size: 20px;
    width: 100%;
}

.menu-heading h3{
    right: 35%;
    bottom: 25px;
}
.card{
    width: 100%;
}

.background-container-3 p {
    font-size: 20px;
}
.background-container-3 h2{
    padding-top: 50px;
   
}
.background-container-3{
    height: 620px;
}
.chef-title {
    padding: 55px 0px;
}
.our-chef {
    width:100%;
    
}
.master-chef{
 gap: 35px 20px;
}
.blog-container-1 {
    width: 100%;
}
.contact-us{
    width: 100%;
}
.timing-container{
    width: 100%;
}
.insta-container{
    width: 100%;
}
.news{
    width: 100%;
}
.perfect-img{
    width: 48%;
   
}
.perfect-container{
    display: flex;
    flex-wrap: wrap;
}
.perfect-desc h2{
    font-size: 25px;
}
.box h3{
    font-size: 35px;
    bottom: 10px;
}
.perfect-desc{
    margin: 50px 0px;
}
.main-container{
    padding: 0px 20px;
}
.main-container-form{
    padding: 0;
}
.background-container-2 h1{
    font-size: 30px;
    text-align: center;
}
.header{
    height: auto;
}
.container-5 h3 {
   
    font-size: 30px;
    text-align: center;
}
.title h3 {
  
    max-width: 150px;
    
}
.price {
    margin-left: 110px;
}
}